
    .coach {
      clear: both;
      padding-bottom: 40px;
      overflow:hidden;
      display: block;
      /*padding-left: 50px;*/ }

    .coach-name {
      text-transform: uppercase;
      font-size: 1.25rem; }

    .coach-image-mask {
      overflow: hidden;
      border-radius: 150px;
      width: 100px;
      height: 100px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      float: left;
        @include breakpoint(small down) {
            float: none;
            margin: 0 auto 30px;
        }
  }

    .coaches-bio {
      display: block;
      margin-left: 20px;
      float: left;
      @include breakpoint(medium up) {
          width: 70%;
      }
      @include breakpoint(small down) {
          margin: 0;
          text-align: center;
          padding: 15px;
      }
  }
