.sidebar-blog-posts {
    &--image {
        height: 200px;
        display: block;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &--title {
        display: block;
        padding: 10px 0;
    }
}
