/*
  My custom styles:
  Add your scss files below to structure your project styles
*/
.hero-img-container {
  position: relative; }

.hero-cta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.8);
  max-width: 30%;
  color: #fefefe;
  padding: 80px 30px 0; }
  .hero-cta-title {
    font-size: 2rem;
    font-weight: 700; }
  .hero-cta .button {
    color: #fefefe !important;
    font-size: 1.5rem;
    padding: 15px 5px;
    border-radius: 5px;
    width: 45%;
    -webkit-transition: border .5s, background .5s;
    transition: border .5s, background .5s; }
    .hero-cta .button:hover {
      background: rgba(254, 254, 254, 0.2);
      -webkit-transition: border .5s, background .5s;
      transition: border .5s, background .5s;
      border: 1px solid rgba(254, 254, 254, 0.2); }

.cta-buttons {
  margin-top: 30px; }

.who_we_are {
  color: #09a229;
  text-align: center;
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }
  .who_we_are::before, .who_we_are::after {
    display: table;
    content: ' '; }
  .who_we_are::after {
    clear: both; }
  .who_we_are .details-excerpt {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 15px; }
    @media print, screen and (min-width: 40em) {
      .who_we_are .details-excerpt {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .who_we_are .details-excerpt:last-child:not(:first-child) {
      float: right; }
    .who_we_are .details-excerpt, .who_we_are .details-excerpt:last-child:not(:first-child) {
      float: none;
      clear: both; }
    .who_we_are .details-excerpt--heading {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2rem; }
    .who_we_are .details-excerpt--body {
      font-weight: 500; }

.get-involved {
  background: #0c003e;
  padding: 40px 0; }
  .get-involved .inner-container {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px; }
    .get-involved .inner-container::before, .get-involved .inner-container::after {
      display: table;
      content: ' '; }
    .get-involved .inner-container::after {
      clear: both; }
  .get-involved--blurb {
    width: 33.33333%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .get-involved--blurb {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .get-involved--blurb:last-child:not(:first-child) {
      float: right; }
  .get-involved--heading {
    color: #09a229;
    font-weight: 700;
    font-size: 1rem; }
  .get-involved--text {
    color: #fefefe;
    max-width: 90%; }
  .get-involved--link {
    color: #09a229; }

.learn-to-row {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  background: url("../images/eastbay/rowing_header.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 30px;
  max-width: 100%; }
  .learn-to-row::before, .learn-to-row::after {
    display: table;
    content: ' '; }
  .learn-to-row::after {
    clear: both; }
  .learn-to-row .callout-container {
    width: 41.66667%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    padding-right: 0;
    padding-left: 0;
    background: rgba(254, 254, 254, 0.8);
    padding: 20px !important; }
    @media print, screen and (min-width: 40em) {
      .learn-to-row .callout-container {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .learn-to-row .callout-container:last-child:not(:first-child) {
      float: right; }
  .learn-to-row--heading {
    font-weight: 600;
    font-size: 1.4rem; }
  .learn-to-row--button {
    border-radius: 5px;
    background: #0c003e;
    color: #fefefe;
    padding: 15px 30px;
    margin-top: 20px;
    display: block;
    max-width: 125px;
    text-align: center; }

.social-media {
    @include grid_row($size: 100%);
    padding: 40px 0;
  }

.from-the-blog {
    @include grid-column(8);
      float: left;
    }
  @media print, screen and (min-width: 40em) {
    .from-the-blog {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .from-the-blog:last-child:not(:first-child) {
    float: right; }
  .from-the-blog--title {
    padding-left: 14px; }

.recent-post-container {
  width: 50%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .recent-post-container {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .recent-post-container:last-child:not(:first-child) {
    float: right; }

.post_image {
  height: 200px;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.homepage-gallery .image-container {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  cursor: pointer; }
  .homepage-gallery .image-container:hover .image-details {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s; }

.homepage-gallery .image-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #fefefe;
  background: rgba(44, 56, 64, 0.7);
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; }

.gallery-button {
  background: #fefefe;
  color: #0c003e;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  display: block;
  max-width: 35%;
  text-align: center; }

.slick-prev {
  left: 30px !important; }

.slick-next {
  right: 30px !important; }

.slick-prev,
.slick-next {
  z-index: 99999; }
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px !important;
    width: 30px !important;
    height: 30px !important; }

#page-two-column {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }
  #page-two-column::before, #page-two-column::after {
    display: table;
    content: ' '; }
  #page-two-column::after {
    clear: both; }

.column-left {
  width: 58.33333%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .column-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .column-left:last-child:not(:first-child) {
    float: right; }
  .column-left .left-column-content {
    padding-right: 20%;
    padding-left: 0; }

.column-right {
  width: 41.66667%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .column-right {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .column-right:last-child:not(:first-child) {
    float: right; }

.wpcf7-submit {
  background: #0c003e;
  border: none;
  outline: none;
  color: white;
  padding: 15px 40px;
  cursor: pointer; }

#page-horizontal-thirds .upper-third, #page-horizontal-thirds .middle-third, #page-horizontal-thirds .lower-third {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }
  #page-horizontal-thirds .upper-third::before, #page-horizontal-thirds .upper-third::after, #page-horizontal-thirds .middle-third::before, #page-horizontal-thirds .middle-third::after, #page-horizontal-thirds .lower-third::before, #page-horizontal-thirds .lower-third::after {
    display: table;
    content: ' '; }
  #page-horizontal-thirds .upper-third::after, #page-horizontal-thirds .middle-third::after, #page-horizontal-thirds .lower-third::after {
    clear: both; }

#page-horizontal-thirds .upper-third {
  margin-top: 40px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px; }

#page-horizontal-thirds .middle-third, #page-horizontal-thirds .lower-third {
  margin-top: 5px;
  border-top: 1px solid #e6e6e6;
  padding: 20px 0; }

#page-horizontal-thirds .middle-third {
  border-bottom: 1px solid #e6e6e6; }

#page-horizontal-thirds .left-column, #page-horizontal-thirds .right-column {
  width: 50%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    #page-horizontal-thirds .left-column, #page-horizontal-thirds .right-column {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  #page-horizontal-thirds .left-column:last-child:not(:first-child), #page-horizontal-thirds .right-column:last-child:not(:first-child) {
    float: right; }

@media screen and (max-width: 39.9375em) {
  .desktop-menu, .top-bar-left {
    display: none !important; } }

@media print, screen and (min-width: 40em) {
  #mobile-menu, .title-bar {
    display: none !important; } }

.off-canvas > ul.menu {
  height: 100vh;
  padding: 1rem; }
  .off-canvas > ul.menu a {
    color: #fefefe;
    font-weight: 600;
    font-size: 1.125rem;
    opacity: .75; }
  .off-canvas > ul.menu .is-accordion-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fefefe transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 1rem; }

.off-canvas .menu .active > a {
  background-color: #e6e6e6; }

.title-bar-title {
  display: block;
  float: right;
  max-width: 150px;
  padding-right: 20px; }
  .title-bar-title .eastbay_logo img {
    max-width: 100%; }
  .title-bar-title a {
    font-size: 1rem;
    color: #B9B9B9; }

.main-navigation .top-level > a {
  text-transform: uppercase; }

.top-bar {
  /*.menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }*/ }
  .top-bar .menu .home a {
    font-size: 1rem;
    color: #0c003e; }
  .top-bar .eastbay_logo {
    max-height: 200px;
    max-width: 150px;
    display: block;
    padding-left: 20px; }
    .top-bar .eastbay_logo img {
      max-width: 100%; }
  .top-bar .menu a {
    height: 45px;
    line-height: 45px;
    color: #0c003e;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1; }
    .top-bar .menu a:hover:not(.button) {
      background-color: #42525D;
      color: #fefefe; }
  .top-bar .menu .active > a {
    background-color: #e6e6e6; }
  .top-bar .menu > li:not(.menu-text) > a {
    padding: 1rem; }
  .top-bar .dropdown.menu .submenu {
    border: 0; }
  .top-bar .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem; }
  .top-bar .dropdown.menu .has-submenu.is-down-arrow > a::after {
    border: 0; }
  .top-bar .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after {
    display: none; }

.post-navigation:before,
.post-navigation:after {
  content: "";
  display: table; }

.post-navigation:after {
  clear: both; }

.nav-previous {
  float: left; }

.nav-next {
  float: right; }

.color-bar {
  height: 15px;
  display: block;
  width: 100%;
  background-repeat-y: no-repeat; }

#footer-container {
  max-width: 100%;
  clear: both;
  width: 100%;
  margin: 0 auto;
  background: #cacaca; }
  #footer-container #footer {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.875rem 0; }
    #footer-container #footer::before, #footer-container #footer::after {
      display: table;
      content: ' '; }
    #footer-container #footer::after {
      clear: both; }
    #footer-container #footer ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }

.sidebar {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .sidebar {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .sidebar:last-child:not(:first-child) {
    float: right; }
  @media print, screen and (min-width: 40em) {
    .sidebar {
      width: 33.33333%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      margin-top: 1rem; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    .sidebar {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  @media print, screen and (min-width: 40em) {
      .sidebar:last-child:not(:first-child) {
        float: right; } }

body#tinymce {
  height: auto;
  max-width: 75rem;
  padding: 1.25rem !important; }

.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  border: none; }

.flex-card-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media print, screen and (min-width: 40em) {
    .flex-card-example {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .flex-card-example .card {
    width: 100%; }
    .flex-card-example .card img {
      width: 100%; }
    @media print, screen and (min-width: 40em) {
      .flex-card-example .card {
        width: 32%; } }
    .flex-card-example .card .card-content {
      padding: 1rem; }

#featured-hero {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 12.5rem; }
  @media print, screen and (min-width: 40em) {
    #featured-hero {
      height: 25rem; } }
  @media screen and (min-width: 75em) {
    #featured-hero {
      height: 31.25rem; } }

.dotted, .section-divider hr {
  border-style: dashed;
  margin: 2rem 0; }

[data-whatinput="mouse"] a:focus, button:focus [data-whatinput="touch"] a:focus, button:focus {
  outline: none; }

#front-hero {
  background: url("../images/demo/hero-bg-foundation-6-small.svg") bottom center;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom;
  padding: 4.0625rem 0;
  margin: 0 0 2rem;
  height: auto;
  position: relative;
  text-align: left; }
  #front-hero .marketing {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 55rem; }
    #front-hero .marketing::before, #front-hero .marketing::after {
      display: table;
      content: ' '; }
    #front-hero .marketing::after {
      clear: both; }
  @media print, screen and (min-width: 40em) {
    #front-hero {
      background: url("../images/demo/hero-bg-foundation-6-large.svg") bottom center;
      -webkit-background-size: cover;
              background-size: cover;
      background-position: center;
      height: 42.8125rem;
      margin: 0 0 4.5rem; } }
  #front-hero #watch {
    width: 58.33333%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    position: relative;
    left: -41.66667%; }
    @media print, screen and (min-width: 40em) {
      #front-hero #watch {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #front-hero #watch:last-child:not(:first-child) {
      float: right; }
    @media print, screen and (min-width: 40em) {
      #front-hero #watch {
        width: 100%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        position: relative;
        left: 0%; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    #front-hero #watch {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media print, screen and (min-width: 40em) {
        #front-hero #watch:last-child:not(:first-child) {
          float: right; } }
    #front-hero #watch section {
      display: inline; }
    #front-hero #watch a {
      color: #B4C9D1;
      cursor: pointer;
      font-weight: 400;
      margin-right: 1.25rem; }
    #front-hero #watch a:hover {
      color: #fff; }
    #front-hero #watch #stargazers :before {
      content: "\f09b";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #B4C9D1;
      margin-right: 0.5rem; }
    #front-hero #watch #twitter :before {
      content: "\f099";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #B4C9D1;
      margin-right: 0.5rem; }
  #front-hero .tagline {
    width: 66.66667%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      #front-hero .tagline {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #front-hero .tagline:last-child:not(:first-child) {
      float: right; }
    @media print, screen and (min-width: 40em) {
      #front-hero .tagline {
        width: 41.66667%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        padding-top: 6rem; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    #front-hero .tagline {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media print, screen and (min-width: 40em) {
        #front-hero .tagline:last-child:not(:first-child) {
          float: right; } }
  #front-hero h1 {
    color: #fff;
    font-weight: 500;
    font-size: 2.2rem; }
    @media print, screen and (min-width: 40em) {
      #front-hero h1 {
        font-size: 2.875rem; } }
  #front-hero h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem; }
  #front-hero .download {
    margin-top: 1.25rem; }

.intro {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }
  .intro::before, .intro::after {
    display: table;
    content: ' '; }
  .intro::after {
    clear: both; }
  .intro .fp-intro {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .intro .fp-intro {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .intro .fp-intro:last-child:not(:first-child) {
      float: right; }
    @media print, screen and (min-width: 40em) {
      .intro .fp-intro {
        width: 83.33333%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        margin-left: 8.33333%; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    .intro .fp-intro {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media print, screen and (min-width: 40em) {
        .intro .fp-intro:last-child:not(:first-child) {
          float: right; }
        .intro .fp-intro h2 {
          font-weight: 300;
          margin-bottom: 1.5rem; }
        .intro .fp-intro h4 {
          font-size: 1.125rem;
          line-height: 1.6;
          color: #777;
          margin-bottom: 2rem; } }

.section-divider {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }
  .section-divider::before, .section-divider::after {
    display: table;
    content: ' '; }
  .section-divider::after {
    clear: both; }
  .section-divider hr {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media print, screen and (min-width: 40em) {
      .section-divider hr {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .section-divider hr:last-child:not(:first-child) {
      float: right; }

.benefits {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }
  .benefits::before, .benefits::after {
    display: table;
    content: ' '; }
  .benefits::after {
    clear: both; }
  .benefits header {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .benefits header {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .benefits header:last-child:not(:first-child) {
      float: right; }
    .benefits header h2 {
      font-weight: 300; }
    .benefits header h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777; }
  .benefits .semantic,
  .benefits .responsive,
  .benefits .customizable,
  .benefits .professional {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .benefits .semantic,
      .benefits .responsive,
      .benefits .customizable,
      .benefits .professional {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .benefits .semantic:last-child:not(:first-child),
    .benefits .responsive:last-child:not(:first-child),
    .benefits .customizable:last-child:not(:first-child),
    .benefits .professional:last-child:not(:first-child) {
      float: right; }
    @media print, screen and (min-width: 40em) {
      .benefits .semantic,
      .benefits .responsive,
      .benefits .customizable,
      .benefits .professional {
        width: 25%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    .benefits .semantic,
    .benefits .responsive,
    .benefits .customizable,
    .benefits .professional {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media print, screen and (min-width: 40em) {
        .benefits .semantic:last-child:not(:first-child),
        .benefits .responsive:last-child:not(:first-child),
        .benefits .customizable:last-child:not(:first-child),
        .benefits .professional:last-child:not(:first-child) {
          float: right; } }
    .benefits .semantic img,
    .benefits .responsive img,
    .benefits .customizable img,
    .benefits .professional img {
      padding: 1.25rem;
      margin: 1rem auto 0 auto; }
    .benefits .semantic h3,
    .benefits .responsive h3,
    .benefits .customizable h3,
    .benefits .professional h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem; }
    .benefits .semantic p,
    .benefits .responsive p,
    .benefits .customizable p,
    .benefits .professional p {
      font-size: 0.9375rem; }
  .benefits .why-foundation {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    margin-top: 4rem; }
    .benefits .why-foundation::before, .benefits .why-foundation::after {
      display: table;
      content: ' '; }
    .benefits .why-foundation::after {
      clear: both; }
    @media print, screen and (min-width: 40em) {
      .benefits .why-foundation {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .benefits .why-foundation:last-child:not(:first-child) {
      float: right; }

#kitchen-sink {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem; }
  #kitchen-sink::before, #kitchen-sink::after {
    display: table;
    content: ' '; }
  #kitchen-sink::after {
    clear: both; }
  #kitchen-sink header {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      #kitchen-sink header {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #kitchen-sink header:last-child:not(:first-child) {
      float: right; }
    #kitchen-sink header .lead {
      font-size: 125%;
      line-height: 1.6; }
  #kitchen-sink #components {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    #kitchen-sink #components hr {
      margin: 3rem 0; }
    @media print, screen and (min-width: 40em) {
      #kitchen-sink #components {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #kitchen-sink #components:last-child:not(:first-child) {
      float: right; }
    @media print, screen and (min-width: 64em) {
      #kitchen-sink #components {
        width: 75%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    #kitchen-sink #components {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media print, screen and (min-width: 64em) {
        #kitchen-sink #components:last-child:not(:first-child) {
          float: right; } }
  #kitchen-sink #kitchen-sink-nav {
    display: none; }
    @media print, screen and (min-width: 64em) {
      #kitchen-sink #kitchen-sink-nav {
        width: 25%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        display: block;
        float: right; } }
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    #kitchen-sink #kitchen-sink-nav {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media print, screen and (min-width: 64em) {
        #kitchen-sink #kitchen-sink-nav:last-child:not(:first-child) {
          float: right; }
        #kitchen-sink #kitchen-sink-nav .docs-sub-menu {
          font-size: 0.85rem;
          margin-top: 1rem; }
        #kitchen-sink #kitchen-sink-nav .docs-menu-title {
          text-transform: uppercase;
          font-size: 0.75rem;
          color: #999;
          font-weight: bold;
          line-height: 1;
          padding-left: 0.9rem;
          margin-bottom: 0.5rem;
          border-top: 1px solid #e9e9e9;
          margin-top: 1rem;
          padding-top: 1.5rem; }
        #kitchen-sink #kitchen-sink-nav .docs-toc {
          width: 100%;
          padding-left: 4rem;
          padding-right: 1rem; }
        #kitchen-sink #kitchen-sink-nav .docs-toc .active {
          background: #2199e8;
          color: white; }
        #kitchen-sink #kitchen-sink-nav .docs-toc .docs-sub-menu:first-child .docs-menu-title {
          margin-top: 0;
          border-top: 0;
          padding-top: 0; } }
  #kitchen-sink .row.display {
    background: #eee;
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 2rem;
    border: solid 1px #c6c6c6;
    margin-left: 0 !important;
    margin-right: 0 !important; }
    #kitchen-sink .row.display .columns:nth-child(2), #kitchen-sink .row.display .columns.small-centered, #kitchen-sink .row.display .columns.large-centered {
      background: #e1e1e1; }

#page {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem; }
  #page::before, #page::after {
    display: table;
    content: ' '; }
  #page::after {
    clear: both; }
  #page .main-content {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      #page .main-content {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #page .main-content:last-child:not(:first-child) {
      float: right; }
    @media print, screen and (min-width: 40em) {
      #page .main-content {
        width: 66.66667%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    #page .main-content {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media print, screen and (min-width: 40em) {
        #page .main-content:last-child:not(:first-child) {
          float: right; } }

#page-sidebar-left {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem; }
  #page-sidebar-left::before, #page-sidebar-left::after {
    display: table;
    content: ' '; }
  #page-sidebar-left::after {
    clear: both; }
  #page-sidebar-left .main-content {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      #page-sidebar-left .main-content {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #page-sidebar-left .main-content:last-child:not(:first-child) {
      float: right; }
    @media print, screen and (min-width: 40em) {
      #page-sidebar-left .main-content {
        width: 66.66667%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        position: relative;
        left: 33.33333%; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    #page-sidebar-left .main-content {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media print, screen and (min-width: 40em) {
        #page-sidebar-left .main-content:last-child:not(:first-child) {
          float: right; } }
  #page-sidebar-left .sidebar {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      #page-sidebar-left .sidebar {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #page-sidebar-left .sidebar:last-child:not(:first-child) {
      float: right; }
    @media print, screen and (min-width: 40em) {
      #page-sidebar-left .sidebar {
        width: 33.33333%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        position: relative;
        left: -66.66667%;
        margin-top: 1rem; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    #page-sidebar-left .sidebar {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media print, screen and (min-width: 40em) {
        #page-sidebar-left .sidebar:last-child:not(:first-child) {
          float: right; } }

#page-full-width {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem; }
  #page-full-width::before, #page-full-width::after {
    display: table;
    content: ' '; }
  #page-full-width::after {
    clear: both; }
  #page-full-width .main-content {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      #page-full-width .main-content {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #page-full-width .main-content:last-child:not(:first-child) {
      float: right; }

#single-post {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem; }
  #single-post::before, #single-post::after {
    display: table;
    content: ' '; }
  #single-post::after {
    clear: both; }
  #single-post .main-content {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      #single-post .main-content {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #single-post .main-content:last-child:not(:first-child) {
      float: right; }
    @media print, screen and (min-width: 40em) {
      #single-post .main-content {
        width: 66.66667%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem; } }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    #single-post .main-content {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media print, screen and (min-width: 40em) {
        #single-post .main-content:last-child:not(:first-child) {
          float: right; } }

.page-container {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }
  .page-container::before, .page-container::after {
    display: table;
    content: ' '; }
  .page-container::after {
    clear: both; }

.coaching-main-column {
  width: 66.66667%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .coaching-main-column {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .coaching-main-column:last-child:not(:first-child) {
    float: right; }

.coaching-header {
  text-align: center;
  width: 75%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 60px; }
  @media print, screen and (min-width: 40em) {
    .coaching-header {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .coaching-header:last-child:not(:first-child) {
    float: right; }
  .coaching-header, .coaching-header:last-child:not(:first-child) {
    float: none;
    clear: both; }

.page-seperator {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  height: 5px;
  margin: 0 auto 30px;
  /*max-width: 90%;*/ }
.sidebar {
  padding-left: 30px;
  border-left: 1px solid #e6e6e6; }

#coaches-page .sidebar {
  margin-bottom: 40px; }
