.column-right {
    .wpcf7 {
        margin-bottom: 20px;
    }
}
.sponsorship-level {
    @include breakpoint(tablet_v up) {
        @include grid-column(4);
    }
    @include breakpoint(medium down) {
        @include grid-column(12);
        margin-left: 30px;
        &:last-child:not(:first-child) {
            float: left;
        }
    }
    margin-bottom: 30px;
    &--heading {
        padding-left: 20px;
        margin-bottom: 30px;
    }
    &--image {
        float: left;
        width: 40px;
        display: block;
        margin-right: 20px;
    }
    &--list {
        ul {
            padding-left: 60px;
        }
    }
}

.sponsor-logo {
    width: 40%;
    float: left;
    margin-right: 20px;
}

.page-seperator {
    display: block;
    margin-top: 50px;
    clear: both;
}
