#page-two-column {
    .main-content{
        overflow: hidden;
    }

    #footer {
        margin-top: rem-calc(60);
    }


    .board-of-directors {
        @include grid-column(10);
        @include grid-column-end();
        @include grid-column-position(1);
        padding-left: 50px!important;
        margin: 0 auto;
    }

    .directors-heading {
        padding: 10px 0;
    }

    .director {
        float: left;
        width: 50%;
        &--name {
            font-weight: 500;
            display: block;
        }
        &--title {
            font-weight: 300;
            display: block;
        }
    }

}
