#page-two-column {
    .main-content{
        overflow: hidden;
    }

    .column-left, .column-right {
        @include breakpoint(medium down) {
            @include grid-column(12);
        }
    }

    .left-column-content {
        @include breakpoint(medium down) {
            padding: 0 20px;
        }
    }

    #footer {
        margin-top: rem-calc(60);
    }


    .board-of-directors {
        @include grid-column(12);
    }

    .directors-heading {
        padding: 10px 0;
    }

    .director {
        float: left;
        width: 20%;
        max-height: 65px;
        &--name {
            font-weight: 500;
            display: block;
        }
        &--title {
            font-weight: 300;
            display: block;
        }
    }

}

.no-featured-image.page-seperator {
    /*width: 80%;
    margin: 0 auto;*/
    margin: 0;
}
