#footer-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    &.not-front-page {
        margin-top: 50px;
    }
    .footer-map {
        width: 33%;
        border: #ccc solid 1px;
        float: left;
        @include breakpoint(tablet_v down) {
            width: 50%;
        }
        @include breakpoint(medium down) {
            width: 100%!important;
            margin-bottom: 30px;
        }
    }
    .footer-copyright {
        width: 33%;
        float: left;
        @include breakpoint(tablet_v down) {
            width: 100%!important;
            margin-top: 40px;
        }
    }
    .footer-content {
        @include grid-column(4);
    }
    .footer-links {
        width: 33%;
        padding-left: 5%;
        @include breakpoint(tablet_v down) {
            width: 50%;
        }
        @include breakpoint(medium down) {
            width: 100%!important;
            padding-left: 0;
        }
    }
    .footer-link {
        float: left;
        width: 50%;
        display: block;
    }
    #footer {
        @include grid-row();
        max-width: 100%!important;
        margin: 0!important;
        padding: rem-calc(30);
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}